<app-appnav></app-appnav>
<div class="container">
    <div class="py-5 text-center">
        <h2> Checkout </h2>
    </div>
    <div class="row" *ngIf="cart.length; else noItemsInCart">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted"> Your cart</span>
                <span class="badge badge-secondary badge-pill"> {{cart.length}}</span>
            </h4>
        </div>

    </div>
</div>